/*Variables*/
:root {
  --bg1: #161623;
  --bg2: #232323;
  --blanco: #ffffff;
  --sizeHover: #dc7928;
  --colorSize1: #9bdc28;
  --colorSize2: #03a9f4;
  --colorSize3: #e91e63;
  --colorP: #B6FCFD;
}

/*Globales*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg1);
}

.card {
  position: relative;
  width: 32rem;
  height: 50rem;
  position: relative;
  background-color: var(--bg2);
  border-radius: 2rem;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--colorP);
  clip-path: circle(15rem at 80% 20%);
  transition: 0.5s;
}
.card__img {
  position: absolute;
  left: -6%;
  height: 22rem;
  z-index: 100;
  transition: 0.6s;
  transform: translateY(70%) rotate(-10deg);
}
.card__img img {
  position: absolute;
  width: 34rem;
}
.card:hover .card__img {
  top: 0;
  transform: translateY(20%) rotate(0deg);
}
.card:hover .content {
  top: 25rem;
}
.card:hover .sizes {
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}
.card:hover .colors {
  transition-delay: 0.6s;
  opacity: 1;
  visibility: visible;
}
.card:hover .content__button {
  transition-delay: 0.75s;
  opacity: 1;
  visibility: visible;
  top: 2rem;
}
.card:hover::before {
  clip-path: circle(30rem at 80% -20%);
}
.card::after {
  content: "Nike";
  position: absolute;
  top: 20%;
  left: -30%;
  color: var(--blanco);
  font-size: 25rem;
  opacity: 0.02;
  font-style: italic;
  z-index: 1;
}

.content {
  position: absolute;
  top: 38rem;
  width: 100%;
  line-height: 4rem;
  transition: 0.55s ease-in-out;
  text-align: center;
}
.content__h2 {
  color: var(--blanco);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.content__button {
  position: relative;
  text-decoration: none;
  color: var(--bg1);
  font-weight: 600;
  padding: 1.2rem 3rem;
  background-color: var(--colorP);
  transition: 0.5s;
  top: 7rem;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
}

.sizes,
.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.sizes__h3,
.colors__h3 {
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-right: 0.5rem;
}

.colors__color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.colors__color:nth-child(2) {
  background-color: var(--colorSize1);
}
.colors__color:nth-child(3) {
  background-color: var(--colorSize2);
}
.colors__color:nth-child(4) {
  background-color: var(--colorSize3);
}

.sizes__size {
  text-align: center;
  height: 2.6rem;
  line-height: 2.6rem;
  width: 2.6rem;
  background-color: var(--blanco);
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
